body{
  background: rgb(131,58,180);
  background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
.container{
  align-items: center;
  align-content: center;
  text-align: center;
  align-self: center;
}
.form-label{
  color: #ffffff;
  font: bold;
}
.form-control{
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #fd1d1d;
}
.btn{
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
}
.danger{
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 6px;
  border: 2px solid #000000;
}
h1{
  color: #ffffff;
}
table{
  margin-left: 41%;
  align-tracks: center;
  color: #ffffff;
}